<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.unimall.dao.UnimallGroupShopSkuMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.unimall.entity.UnimallGroupShopSku" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="skuId" column="sku_id"/>
     <result property="groupShopId" column="group_shop_id"/>
     <result property="skuGroupShopPrice" column="sku_group_shop_price"/>
     <result property="gmtCreate" column="gmt_create"/>
     <result property="gmtUpdate" column="gmt_update"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,sku_id,group_shop_id,sku_group_shop_price,gmt_create,gmt_update
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from t_unimall_group_shop_sku t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="sku_id != null">
    and t.sku_id = #{sku_id}
</if>
<if test="group_shop_id != null">
    and t.group_shop_id = #{group_shop_id}
</if>
<if test="sku_group_shop_price != null">
    and t.sku_group_shop_price = #{sku_group_shop_price}
</if>
<if test="gmt_create != null">
    and t.gmt_create = #{gmt_create}
</if>
</where>
</select>
</mapper>