<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.unimall.dao.UnimallCartMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.unimall.entity.UnimallCart" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="skuId" column="sku_id"/>
     <result property="userId" column="user_id"/>
     <result property="num" column="num"/>
     <result property="gmtUpdate" column="gmt_update"/>
     <result property="gmtCreate" column="gmt_create"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,sku_id,user_id,num,gmt_update,gmt_create
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from t_unimall_cart t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="sku_id != null">
    and t.sku_id = #{sku_id}
</if>
<if test="user_id != null">
    and t.user_id = #{user_id}
</if>
<if test="num != null">
    and t.num = #{num}
</if>
<if test="gmt_update != null">
    and t.gmt_update = #{gmt_update}
</if>
</where>
</select>
</mapper>