<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.unimall.dao.UnimallRefundMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.unimall.entity.UnimallRefund" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="orderId" column="order_id"/>
     <result property="refundSn" column="refund_sn"/>
     <result property="refundAmount" column="refund_amount"/>
     <result property="gmtRefund" column="gmt_refund"/>
     <result property="gmtCreate" column="gmt_create"/>
     <result property="gmtUpdate" column="gmt_update"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,order_id,refund_sn,refund_amount,gmt_refund,gmt_create,gmt_update
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from t_unimall_refund t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="order_id != null">
    and t.order_id = #{order_id}
</if>
<if test="refund_sn != null">
    and t.refund_sn = #{refund_sn}
</if>
<if test="refund_amount != null">
    and t.refund_amount = #{refund_amount}
</if>
<if test="gmt_refund != null">
    and t.gmt_refund = #{gmt_refund}
</if>
<if test="gmt_create != null">
    and t.gmt_create = #{gmt_create}
</if>
</where>
</select>
</mapper>